.items__item > img {
	width: 100px;
}
.items {
	margin-top: 30px;
}

.items__item {
	display: flex;
	width: 600px;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.items__item > input {
	height: 40px;
}
